*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color:#051923;
  --main-accent-color: #0d2937;
  --tertiary-color: #006494;
  --secondary-color: #0582CA;

  --fg-color: #00A6FB;
  --highlight-color: #87cefa;

  --border: 1px solid var(--tertiary-color);
}

[data-theme="light"] {
  --main-bg-color: rgb(255, 255, 255);
  --main-accent-color: rgb(228, 255, 255);
  --tertiary-color: #bef3ef;
  --secondary-color: #2681bd;

  --fg-color: #003554;
  --highlight-color: #2681bd;
}

[data-theme="strawberry"] {
  --main-bg-color: rgb(255, 249, 249);
  --main-accent-color: #ffddeb;
  --tertiary-color: #ffd5e6;
  --secondary-color: rgb(199, 58, 112);

  --fg-color: rgb(78, 12, 80);
  --highlight-color: #ff4dc4;

  --border: 1px solid var(--fg-color);
}

[data-theme="banana"] {
  --main-bg-color: rgb(255, 254, 245);
  --main-accent-color: rgb(248, 244, 184);
  --tertiary-color: rgb(244, 229, 23);
  --secondary-color: rgb(215, 176, 0);

  --fg-color: rgb(71, 30, 23);
  --highlight-color: rgb(201, 125, 31);

  --border: 1px solid var(--fg-color);
}

[data-theme="campfire"] {
  --main-bg-color:#000000;
  --main-accent-color: rgb(33, 17, 4);
  --tertiary-color: rgb(96, 25, 3);
  --secondary-color: rgb(237, 99, 0);

  --fg-color: rgb(230, 207, 129);
  --highlight-color: rgb(248, 252, 225);

  --border: 1px solid var(--tertiary-color);
}

@font-face {
  font-family: 'share-tech-mono';
  src: url('./fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'questrial';
  src: url('./fonts/Questrial-Regular.ttf');
}
/* UTILITY CLASSES */
.horizontal-space > * + * {
  margin-left: var(--custom-space, 1rem);
}

.vertical-space > * + * {
  margin-top: var(--custom-space, 1rem);
}

body, html, #root {
  height: 100%;
}

.app {
  font-size: 1.25rem;
  font-family: questrial, 'Lucida Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--fg-color);
  min-height: 100%; /*MIN-height is important for allowing the height to grow. */
  width: 100%;
  transition: 0.5s ease-in-out;
}

main, header { 
  margin-left: 5rem;
  margin-right: 5rem; 
  padding-top: 1rem;
}

a { 
  color: currentColor;
  text-decoration: none; 
  text-transform: uppercase;
}

li { list-style: none; }

button {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;  
  color: var(--fg-color);
  background-color: transparent;
  border: var(--border); 
}

button:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.button--selected {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
}

.sidebar-button {
  border: var(--border);
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.form-button {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--highlight-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight:lighter;
  font-family: share-tech-mono;
}

h1 {
  background: #00A6FB;
  background: linear-gradient(to right, var(--secondary-color) 0%, var(--highlight-color) 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
h2 {
  color: var(--highlight-color);
}

hr {
width: 50%;
border: 0;
border-bottom: 1px dashed var(--secondary-color);
}

.highlight-text { color: var(--highlight-color)}

.header-logo {
  font-size: 2rem;
}

.categories {
  --custom-space: 0.5rem;
  margin-bottom: 2rem;
}

.home-container {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    grid-gap: 2rem;
}

.page-container {
  width: 70vw;
  margin: auto;
  padding-top: 2rem;
}

.first-screen {
  text-align: center;
  --custom-space: 2rem;
}

.button--highlight {
  background-color: var(--secondary-color);
  color: var(--fg-color);
}

.editor-header-buttons {
  position: relative;
  width: 100%;
}

.editor-header-buttons > * {
  position: absolute;
  right: 0px;
}

.bookmarks-list {
  display: grid;
  grid-gap: 1rem;
  /* the line of code below is baseddd it removes need for a media query! */
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); 
  /* grid-template-columns: repeat(2, 1fr); */
  padding-bottom: 2rem;
}

.bookmarks-list__item {
  border: var(--border);
  background-color: var(--main-accent-color);
  padding: 3rem 2rem;
  transition: 0.5s ease-in-out;
}

.bookmarks-list__item:hover,
.bookmarks-list__item:has(a:focus-visible) {
  color: var(--highlight-color);
  background-color: var(--tertiary-color);
}

.filter-menu {
  min-width: 20vw;
  text-align: center;
  margin-bottom: 1rem;
}

.filter-menu__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  color: var(--highlight-color);
  border-bottom: 1px dotted var(--main-accent-color);
}

.tags-list__item {
  font-size: 1.5rem;
  color: var(--secondary-color);
  line-height: 2;
}

.tags-list__item:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.tags-list__item--selected {
  color: var(--fg-color);
  text-decoration: wavy;
}

.tags-list__item--selected::before {
  content: '×';
  margin-right: 1rem;
}

/* FORMS */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-bookmark__form > * { display: block; }

.add-bookmark__form {
  --custom-space: 1rem;
}

input[type=text] {
  background: transparent;
  border: var(--border);
  color: var(--fg-color);
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

input[type=text]:focus {
  color: var(--highlight-color);
}

.category-option {
  font-size: 1rem;
  border-radius: 100vh;
  background-color: var(--main-accent-color);
  padding: 0.25rem 0.5rem;
}

.category-option input {
  margin-right: 0.5rem;
}

.radio-label--selected {
  color: var(--highlight-color);
  outline: 1px solid var(--highlight-color);
}

.add-bookmark__label > * {
  display: block;
  --custom-space: 0.5rem;
}

.add-bookmark__label span {
  font-size: 1rem;
  text-transform: uppercase;
}

.add-bookmark__row {
  display: flex;
}

.add-bookmark__category-options li {
  display: inline;
}

/* edit mode */

.edit-container {
  width: 70vw;
  margin: auto;
  margin-bottom: 3rem;
}

.editor-list li {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
}

.editor-list--category li {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.editor-list input[type=text] {
  width: 100%;
}

.editor-list__heading {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0rem 0.5rem;
}

.editor-list__row {
  padding: 1rem 0.5rem;
  transition: 0.2s ease-in;
}

.editor-list__row:hover {
  color: var(--highlight-color);
}

li.editor-list__row:nth-of-type(even) {
  background-color: var(--main-accent-color);
}

.editor-list-warning {
  text-align: center;
  color: var(--highlight-color);
  padding: 0.5rem;
}

.editor-list-warning button {
  color: hotpink;
  border: 1px dashed hotpink;
  border: none;
}

.editor-list-warning button:hover { color: lightpink; }

.editor-options__button {
  padding: 0.25rem;
  background: transparent;
  border: var(--border);
  color: var(--fg-color);
}

input[type=text].editing-input {
  color: var(--highlight-color);
}

input[type=text].editing-input:focus {
  color: var(--highlight-color);
}

.palette-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.palette-container p {
  padding: 0.25rem;
  text-align: center;
}

.palette-list {
  display: flex;
  flex-direction: row;
}

.palette-list__color {
  width: 5rem;
  height: 2.5rem;
  border: 1px solid red;
}

.skip-to-content {
  position: absolute;
  opacity: 0;
  background-color: var(--main-bg-color);
  color: var(--highlight-color);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 2rem;
}

.skip-to-content:focus-visible {
  opacity: 1;
}

/* demo */
.demo-exit {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--secondary-color);
  background-color: var(--main-bg-color);
  transition: 0.25s ease-in-out;
  border-radius: 20px;
  border: var(--border);
  display: flex;
  align-items: center;
}

.demo-exit:hover { color: var(--highlight-color); }

/* mobile/tablet layout */

@media (max-width: 1024px) {
  .page-container {
    width: 90vw;
  }
   
.sidebar-button {
  padding: 0.75rem 1.75rem;
  margin-top: 0.5rem;
}

}


@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    --custom-space: 2rem;
  }
 
.sidebar-button {
  padding: 1rem 2rem;
  margin-top: 0.5rem;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  align-items: center;
  padding-top: 2rem;
}

.header-buttons {
  display: flex;
}


 
  
}