*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color:#051923;
  --light-bg-color: #0d2937;
  --lighter-bg-color: #003554;
  --tertiary-color: #006494;
  --secondary-color: #0582CA;

  --light-text-color: #006494;
  --input-color: #006494;

  --fg-color: #00A6FB;
  --highlight-color: #87cefa;

  --border: 1px solid var(--tertiary-color);
}

[data-theme="light"] {
  --main-bg-color: rgb(255, 255, 255);
  --light-bg-color: rgb(206, 255, 255);
  --lighter-bg-color: rgb(228, 250, 255);
  --tertiary-color: #cafa87;
  --secondary-color: rgb(38, 129, 189);

  --light-text-color: #8ec73f;
  --input-color: rgb(69, 155, 156);

  --fg-color: #003554;
  --highlight-color: rgb(38, 129, 189);
}

@font-face {
  font-family: 'share-tech-mono';
  src: url('./fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'questrial';
  src: url('./fonts/Questrial-Regular.ttf');
}
/* UTILITY CLASSES */
.horizontal-space > * + * {
  margin-left: var(--custom-space, 1rem);
}

.vertical-space > * + * {
  margin-top: var(--custom-space, 1rem);
}

body, html, #root {
  height: 100%;
}

.app {
  font-size: 1.25rem;
  font-family: questrial, 'Lucida Sans', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--fg-color);
  min-height: 100%; /*MIN-height is important for allowing the height to grow. */
  width: 100%;
}

main, header { 
  margin-left: 5rem;
  margin-right: 5rem; 
  padding-top: 1rem;
}

a { 
  color: currentColor;
  text-decoration: none; 
  text-transform: uppercase;
}

li { list-style: none; }

button {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;  
  color: var(--fg-color);
  background-color: transparent;
  border: var(--border); 
}

button:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.button--selected {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
}

.category-button {
  border: var(--border);
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.form-button {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--highlight-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight:lighter;
  font-family: share-tech-mono;
}

h1 {
  background: #00A6FB;
  background: linear-gradient(to right, #00A6FB 0%, #87cefa 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
}
h2 {
  color: var(--highlight-color);
}

.highlight-text { color: var(--highlight-color)}

.header-logo {
  font-size: 2rem;
}

.categories {
  --custom-space: 0.5rem;
  margin-bottom: 2rem;
}

.home-container {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    grid-gap: 2rem;
}

.page-container {
  width: 70vw;
  margin: auto;
  padding-top: 2rem;
}

.first-screen {
  text-align: center;
  --custom-space: 2rem;
}

.button--highlight {
  background-color: var(--secondary-color);
  color: var(--fg-color);
}

.editor-header-buttons {
  position: relative;
  width: 100%;
}

.editor-header-buttons > * {
  position: absolute;
  right: 0px;
}

.bookmarks-list {
  display: grid;
  grid-gap: 1rem;
  /* the line of code below is baseddd it removes need for a media query! */
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); 
  /* grid-template-columns: repeat(2, 1fr); */
  padding-bottom: 2rem;
}

.bookmarks-list__item {
  border: var(--border);
  background-color: var(--lighter-bg-color);
  padding: 3rem 2rem;
  transition: 0.5s ease-in-out;
}

.bookmarks-list__item:hover {
  color: var(--highlight-color);
  background-color: var(--tertiary-color);
}

.filter-menu {
  min-width: 20vw;
  text-align: center;
  margin-bottom: 1rem;
}

.filter-menu__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  color: var(--light-text-color);
  border-bottom: 1px dotted var(--lighter-bg-color);
}

.tags-list__item {
  font-size: 1.5rem;
  color: var(--secondary-color);
  line-height: 2;
}

.tags-list__item:hover {
  color: var(--light-text-color);
  cursor: pointer;
}

.tags-list__item--selected {
  color: var(--fg-color);
  text-decoration: wavy;
}

.tags-list__item--selected::before {
  content: '×';
  margin-right: 1rem;
}

/* FORMS */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-bookmark__form > * { display: block; }

.add-bookmark__form {
  --custom-space: 1rem;
}

input[type=text] {
  background: transparent;
  border: var(--border);
  color: var(--input-color);
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

input[type=text]:focus {
  color: var(--highlight-color);
}

.radio-label { position: relative; }

.radio-label input {
  position: absolute;
  opacity: 0;
}

.radio-label--selected {
  color: var(--highlight-color);
  outline: 1px solid var(--highlight-color);
}

.add-bookmark__label > * {
  display: block;
  --custom-space: 0.5rem;
}

.add-bookmark__label span {
  font-size: 1rem;
  text-transform: uppercase;
}

.add-bookmark__row {
  display: flex;
}

.add-bookmark__category-options li {
  display: inline;
}

.category-option {
  font-size: 1rem;
  border-radius: 100vh;
  background-color: var(--lighter-bg-color);
  padding: 0.1rem 0.25rem;
}

.category-option--new {
  color: var(--highlight-color);
}

/* edit mode */

.edit-container {
  width: 70vw;
  margin: auto;
  margin-bottom: 3rem;
}

.editor-list li {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: start;
  align-items: center;
  column-gap: 1rem;
}

.editor-list--category li {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

.editor-list input[type=text] {
  width: 100%;
}

.editor-list__heading {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0rem 0.5rem;
}

.editor-list__row {
  padding: 1rem 0.5rem;
  transition: 0.2s ease-in;
}

.editor-list__row:hover {
  color: var(--highlight-color);
}

li.editor-list__row:nth-of-type(even) {
  background-color: var(--light-bg-color);
}

.editor-list-warning {
  text-align: center;
  color: var(--highlight-color);
  padding: 0.5rem;
}

.editor-list-warning button {
  color: hotpink;
  border: 1px dashed hotpink;
  border: none;
}

.editor-list-warning button:hover { color: lightpink; }

.editor-options__button {
  padding: 0.25rem;
  background: transparent;
  border: var(--border);
  color: var(--fg-color);
}

input[type=text].editing-input {
  color: var(--highlight-color);
}

input[type=text].editing-input:focus {
  color: var(--highlight-color);
}

.palette-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.palette-container p {
  padding: 0.25rem;
  text-align: center;
}

.palette-list {
  display: flex;
  flex-direction: row;
}

.palette-list__color {
  width: 5rem;
  height: 2.5rem;
  border: 1px solid red;
}

/* mobile/tablet layout */

@media (max-width: 1024px) {
  .page-container {
    width: 90vw;
  }
   
.category-button {
  padding: 0.75rem 1.75rem;
  margin-top: 0.5rem;
}

}


@media (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    --custom-space: 2rem;
  }
 
.category-button {
  padding: 1rem 2rem;
  margin-top: 0.5rem;
}

header {
  display: flex;
  flex-direction: column;
  padding: 0rem;
  align-items: center;
  padding-top: 2rem;
}

.header-buttons {
  display: flex;
}


 
  
}