*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color:#051923;
  --lighter-bg-color: #003554;
  --tertiary-color: #006494;
  --secondary-color: #0582CA;
  --fg-color: #00A6FB;
  --highlight-color: lightskyblue;

  --border: 1px solid var(--tertiary-color);
}

/* UTILITY CLASSES */
.horizontal-space > * + * {
  margin-left: 1rem;
}

.vertical-space > * + * {
  margin-top: 1rem;
}
/*  */

body {
  font-size: 1.25rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--fg-color);
}

main, header { margin-top: 2rem; }

a { 
  color: currentColor;
  text-decoration: none; 
  text-transform: uppercase;
}

li { list-style: none; }

button {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;  
}

.header__button {
  color: var(--fg-color);
  background-color: transparent;
  border: var(--border); 
}

.header__button:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

.header__button--selected {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
}

.form-button {
  color:  var(--highlight-color);
  background-color: var(--tertiary-color);
  border: 1px solid var(--highlight-color);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

h1,
h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight:lighter;
}

h2 {
  color: var(--highlight-color);
}

.header-logo {
  font-size: 2rem;
}

.categories {
  text-align: center;
}

.main-container {
  display: flex;
}

.bookmarks-list {
  display: flex;
  flex-wrap:wrap;
  gap: 1rem;
}

.bookmarks-list__item {
  border: var(--border);
  background-color: var(--lighter-bg-color);
  padding: 3rem 2rem;
  transition: 0.5s ease-in-out;
}

.bookmarks-list__item:hover {
  color: var(--highlight-color);
  background-color: var(--tertiary-color);
}

.filter-menu {
  min-width: 20vw;
  padding-left: 1rem;
}

.filter-menu__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  color: var(--tertiary-color);
  border-bottom: 1px dotted var(--lighter-bg-color);
}

.tags-list__item {
  font-size: 1.5rem;
  color: var(--secondary-color);
  line-height: 2;
}

.tags-list__item:hover {
  color: var(--fg-color);
  cursor: pointer;
}

.tags-list__item--selected {
  color: var(--fg-color);
  text-decoration: wavy;
}

.tags-list__item--selected::before {
  content: '×';
  margin-right: 1rem;
}

/* FORMS */

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-bookmark__container {
  
}

input[type=text] {
  background: transparent;
  border: var(--border);
  color: var(--tertiary-color);
  font-size: 1.75rem;
  padding: 0.25rem 0.5rem;
}

input[type=text]:focus {
  color: var(--highlight-color);
}

.radio-label { position: relative; }

.radio-label input {
  position: absolute;
  opacity: 0;
}

.radio-label:focus-within {
  color: var(--highlight-color);
  outline: 1px solid var(--highlight-color);
}

.add-bookmark__label > * {
  display: block;
}

.add-bookmark__label span {
  font-size: 1rem;
  text-transform: uppercase;
}

.add-bookmark__row {
  display: flex;
}

.add-bookmark__category-options li {
  display: inline;
}

.category-option {
  font-size: 1rem;
  border-radius: 100vh;
  background-color: var(--lighter-bg-color);
  padding: 0.1rem 0.25rem;
}

.category-option--new {
  color: var(--highlight-color);
}